.noNotesToShow{
    margin-top: 25vh;
    text-align: center;
}
.plusIcon{
    background-color: pink;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.allNotes{
    margin: 20px 40vh;
}
.searchArea{
    margin-left: 40vh;
    margin-bottom: 20px;
}
.inputSearch{
    margin-right: 5px;
    width: 60vh;
}
.noteCard{
    margin-bottom: 5px;
}